@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: theme('colors.primary.900');
    --color-secondary: theme('colors.secondary.900');
    --color-tertiary: theme('colors.tertiary.400');
    --color-accent: theme('colors.accent.700');
    --color-white: theme('colors.white');
    --color-black: theme('colors.black');
    --color-success: theme('colors.success');
    --color-info: theme('colors.info');
    --color-warning: theme('colors.warning');
    --color-danger: theme('colors.danger');
    --color-background: theme('colors.background.400');
    --color-background-alt: theme('colors.background-alt.400');

    --button-background: theme('colors.background.100');
    --button-background-hover: theme('colors.background.200');
    --button-color: theme('colors.secondary.500');
    --button-color-hover: theme('colors.secondary.700');

    --foreground-rgb: 0, 0, 0;
}

@layer base {
    body {
        color: theme('colors.white');

        font-family: theme('fontFamily.primary');
    }

    div {
        @apply flex;
    }

    .page {
        @apply py-12 md:py-24 flex flex-col items-center mx-auto
    }
}
