@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: theme('colors.primary.DEFAULT');
    --color-secondary: theme('colors.secondary.DEFAULT');
    --color-tertiary: theme('colors.tertiary.DEFAULT');
    --color-accent: theme('colors.accent.DEFAULT');
    --color-white: theme('colors.white');
    --color-black: theme('colors.black');
    --color-success: theme('colors.success');
    --color-info: theme('colors.info');
    --color-warning: theme('colors.warning');
    --color-danger: theme('colors.danger');
    --color-background: theme('colors.background.DEFAULT');
    --color-background-alt: theme('colors.background-alt.DEFAULT');

    --text-color: theme('colors.slate.900');

    --button-background: theme('colors.background.100');
    --button-background-hover: theme('colors.background.200');
    --button-color: theme('colors.accent.900');
    --button-color-hover: theme('colors.accent.700');

    --foreground-rgb: 0, 0, 0;
}

@layer base {
    body {
        color: theme('colors.neutral');

        font-family: theme('fontFamily.primary');
    }

    div {
        @apply flex;
    }

    .page {
        @apply py-12 md:py-24 flex flex-col items-center mx-auto w-3/4 gap-2;
    }

}

.btn {
    border-radius: 500px;
}
