.engagementPicture {
    @apply block bg-engagement bg-cover bg-center bg-no-repeat flex-grow;
    min-width: 40%;
    min-height: 400px;
    border-radius: 100%;
}

.coupleWrap {
    @apply grid md:flex;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .spouse {
        @apply md:flex md:flex-row md:flex-1 items-center;

        img {
            @apply md:hidden;
        }

        .desc {
            @apply text-center items-center md:text-right md:items-end flex flex-col gap-3
        }

        &:last-child {
            .desc {
                @apply md:text-left md:items-start;
            }
        }
    }

    .pictures {
        @apply flex-row items-center hidden md:flex;

        .heart {
            color: theme('colors.secondary.500');
            border-radius: 50%;
            padding: 20px;
            margin: -20px;
            background: theme('colors.white');
        }
    }

    h5 {
        @apply text-secondary;
    }
}
