$screen-md: 992px !default;
$screen-xs: 480px !default;


.timeline {
    @apply relative py-5 list-none w-full;
    display: flex;
    flex-direction: column;

    &:before {
        @apply top-0 bottom-0 absolute left-1/2 bg-secondary-900/90 rounded;
        content: " ";
        width: 4px;
        margin-right: -2px;
    }

    .timelineBox {
        @apply mb-5 after:clear-both flex items-center gap-x-0.5;

        .timelinePanel {
            @apply rounded w-1/2 px-4 md:px-8 flex flex-col;
        }

        &:nth-child(odd) {
            @apply justify-end flex-row-reverse;

            .timelinePanel {
                @apply text-right;
            }

            .timelineBadge {
                @apply -ml-3;
            }

            .date {
                @apply justify-end;
            }
        }

        &:nth-child(even) {
            @apply justify-end;

            .timelinePanel {
                @apply text-left;
            }

            .timelineBadge {
                @apply -mr-4;
            }

            .date {
                @apply justify-start;
            }
        }

        .timelineTitle {
            @apply mt-0;
        }

        .timelineBody {
            @apply block overflow-hidden text-sm;
        }

        .timelineBadge {
            @apply rounded-full h-5 w-5 bg-secondary-900;
        }
    }
}

.date {
    @apply flex flex-row gap-2 mb-8 mt-2 uppercase tracking-wide md:tracking-widest items-center flex-wrap font-semibold;

    > * {
        @apply inline-block;
    }
}

.timelineBody > p,
.timelineBody > ul {
    @apply mb-0;
}

.timelineBody > p {
    @apply mt-2 min-w-[300px];
}
