.NavigationMenuLink {
    @apply text-sm text-secondary-900 font-semibold;
    text-transform: uppercase;

    font-family: theme('fontFamily.primary');

    text-decoration: none;
    outline: none;
    user-select: none;
    opacity: 0.8;
}

.NavigationMenuLink:focus {
    opacity: 1;
}

.NavigationMenuLink:hover {
    opacity: 1;
}
